@font-face {
    font-family: 'Alte DIN 1451 Mittelschrift';
    src: url('fonts/AlteDIN1451Mittelschrift.woff2') format('woff2'),
        url('fonts/AlteDIN1451Mittelschrift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

body, html {
	height: 100%;
	display: grid;
	overflow:hidden;
}

body {
	font-family: 'DINAlternate-Bold', 'Alte DIN 1451 Mittelschrift', monospace;
	background: -webkit-linear-gradient(-45deg, #333333 0%,#000000 45%,#000000 55%,#333333 100%);
	color:#fff;
}

body.start-soon {
	background: -webkit-linear-gradient(-45deg, #111111 0%,#003366 40%,#003366 60%,#111111 100%);
}

.container {
	text-align: center;
	margin: auto;
}

#time-left {
	font-size: 12em;
	margin-bottom:80px;
}

#sets {
	font-size: 6em;
	margin-bottom:60px;
}

button {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	padding:30px 35px 22px 35px;
	font-size: 1.6em;
	margin:40px;
	color:#fff;
	background-color: #333;
	font-family: 'DINCondensed-Bold', 'Alte DIN 1451 Mittelschrift', monospace;
	text-transform: uppercase;
	border:1px solid #666;
	border-radius:5px;
	box-shadow: 0 0 15px #000;
	-webkit-transition: all 500ms;
}

body.start-soon button {
	background-color: #222;
}

button.touched {
	background-color: #003366;
	box-shadow: 0 0 15px #fff;
}

@media screen and (max-width: 600px) {
	#time-left {
		font-size: 8em;
		margin-bottom:60px;
	}
	
	#sets {
		font-size: 4em;
		margin-bottom:40px;
	}
	
	button {
		padding:15px 17px 7px 17px;
		font-size: 1.3em;
		margin:20px;
		box-shadow: 0 0 7px #000;
	}
	
	button.touched {
		box-shadow: 0 0 7px #fff;
	}
}